<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.startai.sharedlib">

    <application>

        <activity
            android:name="cn.com.startai.sharedcharger.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>
</manifest>
