<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.startai.sharedcharger">

    <application
        android:name=".RuiooChargerApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:icon="@mipmap/shared_charger"
        android:label="@string/shared_charger_app_name"
        android:roundIcon="@mipmap/shared_charger"
        android:theme="@style/AppTheme">

        <activity
            android:name="cn.com.startai.sharedlib.app.view.SharedMainActivity"
            android:configChanges="locale|orientation|screenSize|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TestActivity"
            android:configChanges="locale|orientation|screenSize|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>